<h1>Login</h1>

<form action="/users/login" method="post">
<label for="email">Email</label>
<input type="email" name="email" class="form-control" id="email">
<label for="password">Password</label>
<input type="password" name="password" class="form-control" id="password">
<input type="submit" value="submit" class="btn btn-primary">
</form>