body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
header {
  padding: 10px;
  font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
  border: red solid 2px;
}
footer {
  padding: 10px;
  font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
  border: red solid 2px;
}
td {
  word-wrap: break-word;
}
tr .avg_reviews-null {
  background-color: aqua;
}
